@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &-slider
      width: 590px
  .activcard
    width: 230px
    height: 230px
  .card-grid
    &__img
      object-fit: cover
  .footer
    &__input
      &-group
        flex-basis: 100%
      /*---------------------------ширина 992---------------------------------*/
@media (max-width: 992px)
  .container, .newsletter-wrapper
    max-width: 700px
  .newsletter
    padding: 92px 0 93px 0
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
    &-menu
      padding-top: 22px
      padding-bottom: 22px
    &-menu__link
      font-size: 12px
      line-height: 15px
  .search
    &__input
      &-group
        width: 340px
  .hotel
    padding-bottom: 60px
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-booking-map
      flex-direction: row
    &-slider
      width: 100%
  .booking
    width: 340px
  .map
    width: 340px
  .reviews
    &-slider
      &__button
        top: 156px
        &--prev
          left: 0
        &--next
          right: 0
      &__item
        max-width: 580px
    &-title
      &__text
        margin-bottom: 50px
        font-size: 30px
        line-height: 38px
  .activities
    &-wrapper
      flex-wrap: wrap
      align-content: space-between
      min-height: 530px
  .activcard
    width: 339px
    height: 255px
  .packages-grid
    grid-template-columns: 1fr 1fr
  .footer
    padding-top: 73px
    &-wrapper
      grid-template-columns: repeat(3, minmax(min-content, 1fr))
      grid-template-rows: repeat(4, minmax(100px, min-content))
      grid-row-gap: 50px
    &__logo
      width: 97px
      grid-row: 1 / 2
      grid-column: 1 / 2
    &__categories
      min-width: 162px
      grid-row: 2 / 3
      grid-column: 1 / 2
    &__additional
      min-width: 300px
      grid-row: 2 / 3
      grid-column: 2 / 3
    &__legal
      min-width: 202px
      grid-row: 2 / 3
      grid-column: 3 / 4
    &__social
      &-network
        align-self: center
        grid-row: 1 / 2
        grid-column: 1 / 4
        margin-left: 184px
    &__contact
      &-details
        padding-top: 14px
        grid-row: 3 / 4
        grid-column: 1 / 4
      &-form
        padding-top: 0
        grid-row: 4 / 5
        grid-column: 1 / 4
    &__item
      &--mb-2
        &:nth-child(3)
          margin-bottom: 0
    &__form
      width: 77%
    &__input
      &-group
        flex-basis: 47%
    &__condition
      justify-content: space-between
      margin-top: 56px
      &-links
        margin-right: 0
  .modal
    &__dialog
      padding: 30px 50px
        /*----------------------ширина 767-----------------------------------*/
@media (max-width: 767px)
  .container
    max-width: 576px
    width: 92%
  body
    padding-top: 78px
  .navbar
    &-mobile
      &-fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 99
    &__search
      &_mobile
        &_visible
          width: 245px
    &__user, &__search
      &_mobile
        &_hidden
          display: none
        &_visible
          display: flex
    &__user
      flex-direction: column
      justify-content: center
    &-bottom
      display: none
      position: fixed
      left: 0
      right: 0
      bottom: 0
      top: 70px
      max-height: 472px
      overflow: scroll
      &__visible
        display: block
    &-menu
      &__list
        flex-direction: column
      &__item
        margin-bottom: 20px
        &_mobile
          &_visible
            display: block
            margin-bottom: 27px
  .menu
    &-button
      height: 11px
      width: 16px
      display: flex
      align-items: center
      justify-content: space-between
      flex-direction: column
      padding: 0
      border: none
      background-color: $light
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .user
    &__name
      &_light
        color: $light
        margin-left: 0
        margin-top: 10px
  .stars
    flex-basis: auto
  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
  .hotel
    &-booking-map
      flex-direction: column
      min-height: 450px
    &-slider
      height: 350px
  .booking
    width: 100%
  .map
    width: 100%
  .newsletter
    &-wrapper
      max-width: 576px
      width: 92%
      flex-direction: column
      align-items: flex-start
    &__title
      margin-bottom: 20px
  .reviews
    &-slider
      &__button
        top: 30px
        &--prev
          left: 30px
        &--next
          right: 30px
      &__item
        padding: 0 30px 30px
        &::after, &::before
          display: none
  .packages
    &__title
      font-size: 24px
      margin-bottom: 40px
  .activcard
    width: 48%
    height: 255px
  .card-grid-1
    flex-direction: column
    &-text
      padding: 15px
      &__title
        font-size: 14px
        margin-bottom: 10px
      &__text
        font-size: 12px
        margin-bottom: 15px
    &__img
      width: 100%
      height: 250px
      object-fit: cover
  .card-grid
    &__img
      height: 200px
    &-text
      padding: 10px
      &__title
        font-size: 14px
        margin-bottom: 10px
      &__price
        flex-direction: column
      &__oldprice
        align-self: flex-end
      &__pricetag
        align-self: flex-end
        font-size: 18px
      &__button
        width: 100%
  .booking-card
    &__text
      margin-bottom: 3px
    &__icon
      margin-right: 5px
  .footer
    &__categories, &__additional, &__legal
      min-width: auto
    &__title
      &--inline
        margin-bottom: 20px
  .modal
    &__dialog
      padding: 20px 20px
    &__button
      flex-basis: 100%
      margin-bottom: 15px
      &-block
        flex-wrap: wrap
/* -----------------------------ширина 576-----------------------------------------*/
@media (max-width: 576px)
  .logo
    width: 99px
  .hotel
    &-slider
      height: 250px
      margin-bottom: 20px
  .reviews
    &-title
      &__text
        font-size: 25px
        line-height: 35px
        margin-bottom: 42px
  .activities
    &-wrapper
      min-height: 460px
  .activcard
    width: 48%
    height: 220px
  .footer
    &-wrapper
      grid-template-columns: 1fr
      grid-gap: 30px
    &__logo
      grid-row: 1
      grid-column: 1
    &__social
      &-network
        grid-row: 2
        grid-column: 1
    &__additional
      grid-row: 3
      grid-column: 1
    &__categories
      grid-row: 4
      grid-column: 1
    &__legal
      grid-row: 5
      grid-column: 1
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
      &-form
        grid-row: 7
        grid-column: 1
    &__input
      &-group
        flex-basis: 100%
  .footer
    padding-top: 69px
    &-wrapper
      grid-template-columns: 1fr
      grid-template-rows: repeat(7, minmax(67px, min-content))
      grid-gap: 30px
    &__logo
      grid-row: 1 / 2
      grid-column: 1 / 2
    &__categories
      grid-row: 5 / 6
      grid-column: 1 / 2
    &__additional
      grid-row: 4 / 5
      grid-column: 1 / 2
    &__legal
      position: unset
      grid-row: 3 / 4
      grid-column: 1 / 2
    &__social
      &-network
        flex-direction: column
        align-items: flex-start
        align-self: center
        margin-left: 0
        grid-row: 2 / 3
        grid-column: 1 / 2
    &__contact
      &-details
        grid-row: 6 / 7
        grid-column: 1 / 2
      &-form
        padding-top: 32px
        flex-basis: 100%
        grid-row: 7 / 8
        grid-column: 1 / 2
    &__item
      &--mb-2
        &:nth-child(3)
          margin-bottom: 0
    &__form
      width: 100%
    &__title
      &--inline
        margin-bottom: 20px
      &--mb-3
        margin-bottom: 25px
    &__textarea
      margin-bottom: 15px
    &__condition
      flex-wrap: wrap
      margin-top: 30px
      &-link
        margin-right: 3px
        font-size: 11px
  .modal
    &__dialog
      width: 65%

      /* ширина ----------------------480-320-----------------------------------*/
@media (min-width: 320px) and (max-width: 480px)
  .container
    width: 89%
  .navbar
    &-top
      padding-top: 26px
      padding-bottom: 26px
  .breadcrumb
    &-list
      text-shadow: none
  .hotel
    padding-top: 0px
    padding-bottom: 40px
    &-info
      padding-bottom: 18px
      &__text
        padding-bottom: 20px
      &__description
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
  .hotel
    &-slider
      height: 179px
    &-booking-map
      min-height: 402px
  .booking
    height: 210px
  .map
    height: 173px
  .newsletter
    padding: 76px 0 83px 0
    &-title
      font-size: 20px
      line-height: 25px
      &__strong
        font-size: 30px
        line-height: 38px
    &__title
      margin-bottom: 37px
  .subscribe
    width: 100%
  .reviews
    padding-top: 40px
    &-slider
      &__text
        text-align: start
    &-title
      width: 240px
      margin: auto
      &__text
        font-size: 18px
        line-height: 23px
  .activities
    padding-top: 40px
    padding-bottom: 60px
    &__title
      font-size: 18px
      line-height: 23px
      margin-bottom: 36px
    &-wrapper
      min-height: 1080px
  .activcard
    width: 100%
    height: 255px
  .card
    &-grid
      &__img
        height: 200px
    &:nth-child(2)
      order: 2
    &:nth-child(3)
      order: 1
    &:nth-child(4)
      order: 3
  .packages-grid
    grid-template-columns: 1fr
    grid-gap: 15px
  .card-grid-1
    flex-direction: column
    grid-row-start: 1
    grid-column-start: 1
    grid-row-end: 2
    grid-column-end: 2
    color: $light
    &__img
      width: 100%
      height: 200px
      object-fit: cover
  .footer
    &__social
      &-network
        flex-direction: column
    &__title
      &--inline
        margin-bottom: 20px
    &__icon
      &-wrapper
        min-width: 31px
    &__info
      flex-basis: 100%
      margin-bottom: 15px
    &__button
      order: 1
    &__condition
      flex-wrap: wrap
      &-links
        margin-bottom: 10px
      &-link
        margin-right: 5px
  .modal
    &__dialog
      width: 90%
@media (max-height: 487px)
  .modal
    &__dialog
      top: 20px
      transform: translate(-50%, 0)
      min-height: 100vh
      height: 100vh
      overflow-y: auto
