@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &-slider
      width: 590px
  .card
    width: 230px
    height: 230px
@media (max-width: 992px)
  .container, .newsletter-wrapper
    max-width: 700px
  .newsletter
    padding: 92px 0 93px 0
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
    &-menu
      padding-top: 22px
      padding-bottom: 22px
    &-menu__link
      font-size: 12px
      line-height: 15px
  .search
    &__input
      width: 340px
  .hotel
    padding-bottom: 60px
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-booking-map
      flex-direction: row
    &-slider
      width: 100%
  .booking
    width: 340px
  .map
    width: 340px
  .reviews
    &-slider
      &__item
        max-width: 580px
    &-title
      margin-top: 40px
      &__text
        margin-bottom: 50px
        font-size: 30px
        line-height: 38px
  .activities
    &-wrapper
      flex-wrap: wrap
      align-content: space-between
      min-height: 530px
  .card
    width: 339px
    height: 255px
@media (max-width: 767px)
  .container
    max-width: 576px
    width: 92%
  .navbar
    &__search, &-menu, &__user
      display: none
  .menu
    &-button
      height: 11px
      width: 16px
      display: flex
      align-items: center
      justify-content: space-between
      flex-direction: column
      padding: 0
      border: none
      background-color: $light
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .stars
    flex-basis: auto
  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
  .hotel
    &-booking-map
      flex-direction: column
      min-height: 450px
    &-slider
      height: 350px
  .booking
    width: 100%
  .map
    width: 100%
  .newsletter
    &-wrapper
      max-width: 576px
      width: 92%
      flex-direction: column
      align-items: flex-start
    &__title
      margin-bottom: 20px
  .reviews
    &-slider
      &__item
        padding: 0 30px 30px
        &::after, &::before
          display: none
      &__button
        top: 32px
        &--prev
          left: 50%
          transform: translate(-50%, 0)
          margin-left: -65px
        &--next
          right: 50%
          transform: translate(50%, 0)
          margin-right: -65px
  .card
    width: 48%
    height: 255px
@media (max-width: 576px)
  .logo
    width: 99px
  .hotel
    &-slider
      height: 250px
      margin-bottom: 20px
  .reviews
    &-title
      &__text
        font-size: 25px
        line-height: 35px
        margin-top: 40px
  .activities
    &-wrapper
      min-height: 460px
  .card
    width: 48%
    height: 220px
@media (min-width: 320px) and (max-width: 480px)
  .container
    width: 89%
  .navbar
    &-top
      padding-top: 26px
      padding-bottom: 26px
  .breadcrumb
    &-list
      text-shadow: none
  .hotel
    padding-top: 0px
    padding-bottom: 40px
    &-info
      padding-bottom: 18px
      &__text
        padding-bottom: 20px
      &__description
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
  .hotel
    &-slider
      height: 179px
    &-booking-map
      min-height: 402px
  .booking
    height: 210px
  .map
    height: 173px
  .newsletter
    padding: 76px 0 83px 0
    &-title
      font-size: 20px
      line-height: 25px
      &__strong
        font-size: 30px
        line-height: 38px
    &__title
      margin-bottom: 37px
  .subscribe
    width: 100%
  .reviews
    &-title
      width: 270px
      margin: auto
    &__text
      font-size: 18px
      line-height: 23px
      margin-bottom: 42px
  .activities
    padding-top: 40px
    &__title
      font-size: 18px
      line-height: 23px
      margin-bottom: 36px
    &-wrapper
      min-height: 1080px
  .card
    width: 100%
    height: 255px
