*
  box-sizing: border-box
body
  font-family: "Mulish", sans-serif
  background-color: $secondary
  color: $text-color
.container
  max-width: 1110px
  margin: auto
img
  max-width: 100%
.invalid
  color: $primary
  font-size: 14px
a
  &:hover
    color: $light
    text-shadow: $light 1px 0 10px

button
  &:hover
    background: $dark
    color: $light
    box-shadow: inset 0 0 0 3px $primary
