.packages
  padding-top: 40px
  &__title
    margin-top: 0
    margin-bottom: 65px
    font-style: normal
    font-weight: bold
    font-size: 36px
    line-height: 45px
    text-align: center
    text-transform: uppercase
.packages-grid
  display: grid
  grid-template-rows: minmax(min-content, max-content)
  grid-template-columns: 1fr 1fr 1fr
  grid-gap: 30px
  justify-content: space-between
  align-content: center
  margin-bottom: 70px

  & > div
    border-radius: 8px
    background-color: $dark
    overflow: hidden
.card-grid-1
  display: flex
  justify-content: space-between
  min-height: 500px
  grid-row-start: 1
  grid-column-start: 1
  grid-row-end: 2
  grid-column-end: 3
  color: $light
  position: relative
  &__sale-label
    position: absolute
    left: 0
    top: 26px
    padding: 8px 12px
    border-radius: 0px 4px 4px 0px
    font-style: normal
    font-weight: 700
    font-size: 12px
    line-height: 15px
    color: $light
    background-color: $primary
  &__img
    width: 50%
    object-fit: cover
  &-text
    display: flex
    flex-direction: column
    justify-content: space-between
    padding: 46px 21px 30px 43px
    &__stars
      align-self: flex-start
      margin-bottom: 5px
    &__title
      font-weight: 700
      font-size: 18px
      line-height: 23px
      margin-top: 0
      margin-bottom: 27px
    &__text
      font-style: normal
      font-weight: normal
      font-size: 14px
      line-height: 160.6%
      margin-top: 0
      margin-bottom: 34px
      height: 154px
      overflow-y: scroll
      scroll-behavior: auto
      scrollbar-color: #929196 #143861
      scrollbar-width: thin
      &::-webkit-scrollbar
        width: 7px
        background-color: #143861
      &::-webkit-scrollbar-thumb
        background-color: #929196
        border-radius: 9em
        box-shadow: inset 1px 1px 10px #cab9b9
      &::-webkit-scrollbar-thumb:hover
        background-color: #253861

  &__oldprice
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 18px
    text-decoration-line: line-through
    &__price
      align-self: space-between
      display: flex
      justify-content: space-between
      align-items: center
    &__pricetag
      font-style: normal
      font-weight: bold
      font-size: 24px
      line-height: 30px
    &__button
      font-family: Nunito
      font-style: normal
      font-weight: 700
      font-size: 14px
      line-height: 19px
      padding: 11px 26px
      border-radius: 4px
      color: $light
      background-color: $primary
      border: none
      cursor: pointer
.booking-card
  &__text
    margin-bottom: 11px
    font-style: normal
    font-weight: normal
    font-size: 12px
    line-height: 15px
  &__icon
    margin-right: 14px
.card-grid
  justify-content: space-between
  height: fit-content
  position: relative
  &__sale-label
    position: absolute
    left: 0
    top: 26px
    padding: 4px 9px
    border-radius: 0px 4px 4px 0px
    font-style: normal
    font-weight: 700
    font-size: 8px
    line-height: 10px
    color: $light
    background-color: $primary
  &__img
    width: 100%
    height: 250px
  &-text
    display: flex
    flex-direction: column
    justify-content: space-between
    padding: 32px 21px 25px 32px
    color: $light
    height: 50%
    &__title
      margin-top: 0
      margin-bottom: 23px
      font-style: normal
      font-weight: bold
      font-size: 18px
      line-height: 23px
    &__oldprice
      font-style: normal
      font-weight: normal
      font-size: 14px
      line-height: 18px
      text-decoration-line: line-through
    &__price
      align-self: space-between
      display: flex
      justify-content: space-between
      align-items: center
    &__pricetag
      font-style: normal
      font-weight: bold
      font-size: 24px
      line-height: 30px
    &__button
      font-family: Nunito
      font-style: normal
      font-weight: 700
      font-size: 14px
      line-height: 19px
      padding: 11px 26px
      border-radius: 4px
      color: $light
      background-color: $primary
      border: none
      cursor: pointer
