.thankyou
  &-wrapper
    padding-top: 10px
    padding-bottom: 10px
  &__title
    margin-top: 0
    margin-bottom: 15px
    font-size: 18px
    font-weight: 400
  &__text
    margin-top: 0
    margin-bottom: 15px
    font-size: 12px
    font-weight: 400
